<?xml version="1.0"?>
<config>
    <modules>
        <VS7_Admitad>
            <version>0.2.0</version>
        </VS7_Admitad>
    </modules>
    <frontend>
        <layout>
            <updates>
                <vs7_admitad>
                    <file>vs7_admitad.xml</file>
                </vs7_admitad>
            </updates>
        </layout>
    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <admitad_uid><to_order>*</to_order></admitad_uid>
            </sales_convert_quote>
            <sales_convert_order>
                <admitad_uid><to_quote>*</to_quote></admitad_uid>
            </sales_convert_order>
        </fieldsets>
        <models>
            <vs7_admitad>
                <class>VS7_Admitad_Model</class>
                <resourceModel>vs7_admitad_mysql4</resourceModel>
            </vs7_admitad>
        </models>
        <resources>
            <vs7_admitad_setup>
                <setup>
                    <module>VS7_Admitad</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_admitad_setup>
            <vs7_admitad_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_admitad_write>
            <vs7_admitad_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_admitad_read>
        </resources>
        <blocks>
            <vs7_admitad>
                <class>VS7_Admitad_Block</class>
            </vs7_admitad>
        </blocks>
        <helpers>
            <vs7_admitad>
                <class>VS7_Admitad_Helper</class>
            </vs7_admitad>
        </helpers>
        <events>
            <vs7_admitad_generate_feed>
                <observers>
                    <vs7_admitad_generate_feed>
                        <class>VS7_Admitad_Model_Observer</class>
                        <method>generateFeed</method>
                    </vs7_admitad_generate_feed>
                </observers>
            </vs7_admitad_generate_feed>
            <vs7_admitad_generate_orders_feed>
                <observers>
                    <vs7_admitad_generate_orders_feed>
                        <class>VS7_Admitad_Model_Observer</class>
                        <method>generateOrdersFeed</method>
                    </vs7_admitad_generate_orders_feed>
                </observers>
            </vs7_admitad_generate_orders_feed>
            <controller_front_init_before>
                <observers>
                    <vs7_admitad_check_uid>
                        <class>VS7_Admitad_Model_Observer</class>
                        <method>checkUid</method>
                    </vs7_admitad_check_uid>
                </observers>
            </controller_front_init_before>
            <sales_quote_save_before>
                <observers>
                    <vs7_admitad_save_uid>
                        <class>VS7_Admitad_Model_Observer</class>
                        <method>saveUid</method>
                    </vs7_admitad_save_uid>
                </observers>
            </sales_quote_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <vs7_admitad module="vs7_admitad">
                    <file>vs7_admitad.xml</file>
                </vs7_admitad>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <vs7_admitad_insert_aid>
                        <class>VS7_Admitad_Model_Observer</class>
                        <method>insertAid</method>
                    </vs7_admitad_insert_aid>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_admitad>
                                            <title>Admitad XML Feed</title>
                                        </vs7_admitad>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <vs7_admitad_generate_feed>
                <schedule>
                    <cron_expr>17 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vs7_admitad/observer::generateFeed</model>
                </run>
            </vs7_admitad_generate_feed>
            <vs7_admitad_generate_orders_feed>
                <schedule>
                    <cron_expr>11 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>vs7_admitad/observer::generateOrdersFeed</model>
                </run>
            </vs7_admitad_generate_orders_feed>
        </jobs>
    </crontab>
    <default>
        <vs7_admitad>
            <general>
                <active>0</active>
                <filename>feed</filename>
                <filename_orders>feed</filename_orders>
                <use_gzip>0</use_gzip>
            </general>
        </vs7_admitad>
    </default>
</config>